{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <title>Books</title>
</head>

<body>

  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Library Management</a>
    <a class="nav-link active" href="{% url 'book_new' %}" >Add Book</a>
    <a class="nav-link active" href="/authors" >Authors</a>

    <form class="form-inline my-2 my-lg-0 ml-auto p-2" method="GET" >
      {{myFilter.form}}
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

  </nav>

<!-- container -->
  <div class="container mt-3">
  
      <!-- item -->
    <div class="row mt-2">
      {% for book in books %}
      <div class="col-3 row justify-content-end mx-auto">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"> {{book.name}} </h5>
            <h6 class="card-subtitle mb-2 text-muted">{{book.status}}</h6>
            <p class="card-text">{{book.author.name}}.</p>
            <a href="{% url 'book_detail' pk=book.pk %}" class="card-link">View</a>
            <a href="{% url 'book_delete' pk=book.pk %}" class="card-link">Delete</a>
            <a href="{% url 'book_update' pk=book.pk %}" class="card-link">Update</a>
          </div>
        </div>
        </div>
      {% endfor %}
    </div>

  </div>


  
  </div>
  
<!-- bootstrap -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>

</html>